<!doctype html>
  <head>
    <title>Assessment Components Test Bench</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <style>
      html,
      body {
         
          margin: 0;
          padding: 0;
        
      }
    </style>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root" style="width: 100%;height: 100%;"></div>
    <div style="text-align: center;">
      <button id="checkMyWork">Check my work</button>
      <button id="reset">Reset</button>
      <button id="showHint">Show Hint</button>
      <button id="tryAgain">Try Again</button>
      <button id="show">show</button>
      <button id="hide">hide</button>
    </div>
  </body>
</html>
